<!-- <i (click)="disconnect()" class="material-icons logoff">power_settings_new</i> -->
<div class="final-cart">
    <app-welcome></app-welcome>
    <div class="container-final-cart">
        <label for="search"><i class="material-icons">search</i></label>
        <input type="text" name="search" placeholder="חפש..." id="search" [(ngModel)]="search">
        <br />
        <br />
        <p>העגלה הסופית שלך:</p>
        <table>
            <thead>
                <tr>
                    <th>שם</th>
                    <th>מחיר</th>
                    <th>יחידות</th>
                    <th>מחיר משוכלל</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItems ">
                    <td innerHTML="{{item.product.name| markSearch : search}}"></td>
                    <td>{{item.product.price}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.totalPrice}}₪</td>

                </tr>
            </tbody>
        </table>
        <br />
        <p>מחיר סופי: {{cartTotalPrice}}₪</p>
        <br />
        <a routerLink="/shopping/all"><button>חזרה לחנות</button></a>


    </div>
</div>