section{
  flex-grow: 1;
}

.card {
  display: inline-block;
    max-width: 400px;
  }
  
.image{
  width: 200px;
  height: 200px;
}

.cards-container{
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.cards{
  margin: 5px;
  cursor: pointer;
}

a{
  color: rgb(92, 92, 92);
  text-decoration: none;
}

a:hover{
  color: rgb(224, 81, 81);
}