.welcome{
    display: grid;
    direction: ltr;
    grid-template-columns: 25% 1fr 25%;
    align-items: center;
    height: 100%;
    background-color: #FF9D7E;
    color: aliceblue;
    font-size: xx-large;
}


p{
    direction: rtl;
    grid-column-start: 2;
}
