<div class="final-cart">
    <app-welcome></app-welcome>
    <div class="container">
        <p>העגלה הסופית שלך:</p>
        <table>
            <thead>
                <tr>
                    <th>שם</th>
                    <th>מחיר</th>
                    <th>יחידות</th>
                    <th>מחיר משוכלל</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userOpenCartItems ">
                    <td innerHTML="{{item.product.name| markSearch : search}}"></td>
                    <td>{{item.product.price}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.totalPrice}}₪</td>
                </tr>
            </tbody>
        </table>
        <p>מחיר סופי: {{cartTotalPrice}}₪</p>
        <a class="link" routerLink="/shopping/all">חזרה לחנות</a>


    </div>
</div>