<div class="final-cart">
    <app-welcome></app-welcome>
    <div class="container">
        <p>העגלה הסופית שלך:</p>
        <table>
            <thead>
                <tr>
                    <th>שם</th>
                    <th>מחיר</th>
                    <th>כמות</th>
                    <th>סה"כ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userOpenCartItems ">
                    <td innerHTML="{{item.product.name| markSearch : search}}"></td>
                    <td>{{item.product.price}}₪</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.totalPrice | number : '1.2-2' | decimal}}₪</td>
                </tr>
            </tbody>
        </table>
        <p>מחיר סופי: {{cartTotalPrice | number : '1.2-2' | decimal}}₪</p>
        <a class="link" routerLink="/shopping/all">חזרה לחנות</a>


    </div>
</div>