header{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #FFF1DC;
}

.right , .left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.center{
    flex-grow: 1;
}

input{
    width: 200px;
    padding: 5px 10px;
    height: 40px;
    border-radius: 15px;
    border: rgba(185, 185, 185, 0.664) 1px solid;
    // margin: 0 5%;
}

i{
    position: relative;
    // left: 30px;
    right: 5px;
    top: 3px;
    color: rgb(156, 156, 156);

}