span{
    color: red;
}

input[type=text], input[type=number]{
    background-color: #EDEDED;
    border: none;
    color: black;
    width: 80%;
    padding: 20px 0;
    margin: 10px;
    text-align: center;
    font-size: 1em;
  }