<div class="container gap">
    <h1>הוספת מוצר</h1>
    <form #formInfo="ngForm" class="container">
        <input type="text" id="name" name="name" placeholder="שם המוצר..." [(ngModel)]="productToAdd.name" required
            pattern="^[\Wא-ת]+$" #productNameInfo="ngModel">
        <input type="number" id="price" name="price" placeholder="מחיר בשקלים..." [(ngModel)]="productToAdd.price"
            required #productPriceInfo="ngModel">
        <input type="text" id="type" name="type" placeholder="מחירה לפי..." [(ngModel)]="productToAdd.type" required
            pattern='^[\Wא-ת]+$' #productTypeInfo="ngModel">
        <table>
            <tr>
                <td>
                    <label for="pruductImage">בחירת תמונה:</label>
                </td>
                <td>
                    <input type="file" id="pruductImage" name="userImage" (change)="onFileSelected($event)">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="category">בחירת קטגוריה:</label>
                </td>
                <td>
                    <select id="category" name="category" [(ngModel)]="productToAdd.categoryId" required
                        #categoryInfo="ngModel">
                        <option disabled selected>יש לבחור קטגוריה</option>
                        <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
                    </select>
                </td>
            </tr>
        </table>


        <span *ngIf="productNameInfo.errors?.pattern && productNameInfo.touched;">שם מוצר לא תקין</span>
        <span *ngIf="productNameInfo.errors?.pattern && productTypeInfo.touched;">שם למחירה לפי סוג לא תקין</span>

        <button [disabled]="formInfo.form.invalid" (click)="addNewProductAsync()">הוסף</button>
    </form>
    <a class="link" routerLink="/admin/edit">עריכת מוצר</a>

</div>