<div class="menu">
    <app-welcome></app-welcome>
    <section>

        <!-- for user cart component -->
        <ng-template [ngIf]="isLoggedIn">
            <app-home-menu-cart></app-home-menu-cart>
        </ng-template>


        <!-- for login and register components -->

        <div class="choose-login-or-register" *ngIf=!isLoggedIn>
            <a routerLink="/home/login" routerLinkActive="active">התחברות</a>
            <a routerLink="/home/register/1" routerLinkActive="active">הרשמה</a>
        </div>

        <router-outlet></router-outlet>

    </section>
</div>