.menu{
    // display: flex;
    // flex-direction: column;
    // height: 100%;
    direction: rtl;
}

// .menu{
//     display: grid;
//     direction: ltr;
//     grid-template-rows: 12% 1fr;
// }

section {
    // height: 80%;
    flex-grow: 1;
    // padding: 30px;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

// .logoff {
//     color: red;
//     position: absolute;
//     left: 20px;
//     top: 2px;
// }

.choose-login-or-register{
    display: flex;
}

.choose-login-or-register a{
    flex-grow: 1;
    padding: 15px;
    text-decoration: none;
    color: black;
    background-color: #ECECEC;
}

.active{
    background-color: #ffffff !important;
}