.menu{
    direction: rtl;
}


section {
    flex-grow: 1;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}


.choose-login-or-register{
    display: flex;
}

.choose-login-or-register a{
    flex-grow: 1;
    padding: 15px;
    text-decoration: none;
    color: black;
    background-color: #ECECEC;
}

.active{
    background-color: #ffffff !important;
}