nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #C7BFDF;

    a{
        background-color: #FFFFFF;
        color: rgb(34, 34, 34);
        min-width: 70px;
        padding: 0.3em 0.5em;
        border-radius: 20px;
        text-decoration: none;
    }
}

@media only screen and (max-width: 500px) {
    nav{
        font-size: 0.6em;
    }
}