<mat-sidenav-container class="admin">

    <mat-sidenav #sidenav mode="side" [(opened)]="menuOpen">
        <aside>
            <app-welcome></app-welcome>
            <router-outlet></router-outlet>
        </aside>
    </mat-sidenav>
    <mat-sidenav-content>
        <i *ngIf="!menuOpen" (click)="changeMenuStatus()" class="material-icons menu-icon">menu</i>
        <i *ngIf="menuOpen" (click)="changeMenuStatus()" class="material-icons menu-icon">menu_open</i>
        <app-admin-products></app-admin-products>
    </mat-sidenav-content>

</mat-sidenav-container>