<div class="container gap">

    <form #formInfo="ngForm" *ngIf="productToEdit">
            <h1>עריכת מוצר</h1>
            <table>
                <tr>
                    <td>
                        <label for="name">שם המוצר:</label>
                    </td>
                    <td>
                        <input type="text" id="name" name="name" placeholder="Name..." [(ngModel)]="productToEdit.name" required
                            pattern="^[\Wא-ת]+$" #productNameInfo="ngModel">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="price">מחיר:</label>
                    </td>
                    <td>
                        <input type="number" id="price" name="price" placeholder="price..." [(ngModel)]="productToEdit.price" required
                            #productPriceInfo="ngModel">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="price">מחיר לפי:</label>
                    </td>
                    <td>
                        <input type="text" id="type" name="type" placeholder="מחירה לפי..." [(ngModel)]="productToEdit.type" required
                        pattern='^[\Wא-ת]+$' #productTypeInfo="ngModel">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="price">תמונה:</label>
                    </td>
                    <td>
                        <input type="file" name="userImage" (change)="onFileSelected($event)">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="price">קטגוריה:</label>
                    </td>
                    <td>
                        <select name="category" [(ngModel)]="productToEdit.categoryId">
                            <option disabled selected>בחר קטגוריה</option>
                            <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
                        </select>
                    </td>
                </tr>
            </table>

            
            <span *ngIf="productNameInfo.errors?.pattern">שם מוצר לא תקין</span>
            <span *ngIf="productPriceInfo.errors?.required">מחיר לא יכול להיות ריק</span>
            <span *ngIf="productNameInfo.errors?.pattern && productTypeInfo.touched;">שם למחירה לפי סוג לא תקין</span>
            <button [disabled]="formInfo.form.invalid" (click)="saveProductAfterEditAsync()">שמור</button>
    </form>

    <p *ngIf="!productToEdit">יש לבחור במוצר כדי לערוך</p>
    <a class="link" routerLink="/admin/add">הוספת מוצר<i class="material-icons">add</i></a>

</div>