<form #formInfo="ngForm">

    <label for="city">עיר: </label>
    <select  name="city" [(ngModel)]="newUser.cityId">
        <option disabled selected>בחר עיר</option>
        <option *ngFor="let city of cities" [ngValue]="city._id"    >{{city.name}}</option>
    </select><br/>
    <input type="text" name="street" placeholder="רחוב" [(ngModel)]="newUser.street" required><br />
    <input type="text" name="firstName" placeholder="שם פרטי" [(ngModel)]="newUser.firstName" required
        pattern="^[א-ת]+$" #FirstNameInfo="ngModel"><br />
    <input type="text" name="lastName" placeholder="שם משפחה" [(ngModel)]="newUser.lastName" required
        pattern="^[א-ת]+$" #lastNameInfo="ngModel"><br />
    <span *ngIf="FirstNameInfo.errors?.pattern && FirstNameInfo.touched">שם פרטי לא תקין</span>
    <span *ngIf="lastNameInfo.errors?.pattern && lastNameInfo.touched">שם מפשחה לא תקין</span>
    <button [disabled]="formInfo.form.invalid" (click)="addNewUserAsync()">הירשם</button>
</form>
