<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="side" [(opened)]="menuOpen">
        <app-final-cart></app-final-cart>
    </mat-sidenav>
    <mat-sidenav-content>

        <i *ngIf="!menuOpen" (click)="changeMenuStatus()" class="material-icons menu-icon">menu</i>
        <i *ngIf="menuOpen" (click)="changeMenuStatus()" class="material-icons menu-icon">menu_open</i>

        <main>
            <app-add-invite></app-add-invite>
        </main>
    </mat-sidenav-content>