/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}


html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 1.2rem;
}


aside {
    direction: rtl;
}


a {
    color: blue;
}

.active {
    color: magenta;
    font-weight: bold;
}

input {
    direction: rtl;
}

button{
    margin: auto;
}

.button, button{
    display: flex;
    gap: 10px;
    background-color: #93B8FF;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff !important;
    cursor: pointer;
    border: none;
    width: 150px;
    padding: 20px 10px;
    margin: 10px auto;
}

button:disabled {
    background-color: #cbcbcb;
    cursor: default;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    // font-size: 1.3vw;
    // justify-content: center;
}

.gap{
    gap: 20px;
}

.menu-icon{
    cursor: pointer;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: rgb(118, 118, 118);
}

.link:hover {
    color: rgb(38, 38, 38);
}

app-home, app-shopping, app-admin, app-order {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

app-home-menu > div, app-home-main > div,
app-shopping-cart > div ,app-shopping-main > div,
app-admin-main > div, app-order-cart > div, app-order-main > div, app-admin-menu > div{
    height: 100%;
    display: grid;
    direction: rtl;
    grid-template-rows: 10% 1fr;
}

app-admin-menu > div{
    grid-template-rows: 10% 0 1fr;
    direction: ltr;
}

mat-sidenav-container{
    width: 100vw;
    flex-grow: 1;
    display: flex !important;
}

mat-sidenav-container > * {
    direction: rtl;
}

mat-sidenav {
    width: 30%;
    max-width: 400px;
    font-size: 1em;
}

mat-sidenav-content, mat-sidenav{
    flex-grow: 1;
    height: auto !important;
}


@media only screen and (max-width: 500px) {
    html{
        font-size: 13px;
    }
    mat-sidenav{
        width: 100%;
        font-size: 1em;
    }
}