<header>
    <p *ngIf=!isLoggedIn>שלום אורח</p>
    <div *ngIf=isLoggedIn>
        <p>שלום {{ user.firstName }}</p>
        <i (click)="disconnect()" class="material-icons logoff">power_settings_new</i>
    </div>
    
</header>
<br/>
<br/>
<section>
    <div *ngIf=!isLoggedIn>
        <a routerLink="/home/login" routerLinkActive="active">התחברות</a>
        <span> | </span>
        <a routerLink="/home/register/1" routerLinkActive="active">הרשמה</a>
    </div>
    <router-outlet></router-outlet>

    <div *ngIf=isLoggedIn>

        <div *ngIf=openCart>
            <p>יש לך עגלה פתוחה מתאריך ה-{{openCart.date | date:"shortDate"}}</p>
            <p>ובתוכה {{cartNumberOfItems}} מוצרים</p>
            <p>עלות של {{cartTotalPrice}}₪</p>
            <a routerLink="/shopping/all"><button><i class="material-icons">shopping_cart</i>המשך קניה</button></a>
        </div>

        <div *ngIf=lastInvite>
            <p>הרכישה האחרונה שלך הייתה בתאריך</p>
            <p>{{lastInvite.orderDate | date:"shortDate"}}</p>
            <p>על סך {{lastInvite.cartPrice}} שקלים</p>

            <a routerLink="/shopping/all"><button><i class="material-icons">shopping_cart</i>התחל קניה</button></a>
        </div>
        
        <div *ngIf=isNewUser>
            <p>ברוך הבא לקניה הראשונה שלך</p>
            <a routerLink="/shopping/all"><button><i class="material-icons">shopping_cart</i>התחל קניה</button></a>
        </div>
    </div>


</section>