<div *ngIf="products">
    <input type="text" name="search" placeholder="חפש..." [(ngModel)]="search"><br />

    <div class="cardDiv" *ngFor="let p of products | filter:search">
        <a routerLink="/admin/edit/{{p._id}}">
            <mat-card class="example-card">
                <img mat-card-image class="image" src="http://localhost:3000/uploads/{{p.image}}">
                <mat-card-title>{{p.name}}</mat-card-title>
                <mat-card-content>
                  <p>
                    מחיר {{p.price}}₪
                  </p>
                </mat-card-content>
              </mat-card>
        </a>
    </div>    
</div>