.cart {
    // display: flex;
    // flex-direction: column;
    min-height: 100%;
    direction: rtl;
}

.container {
    gap: 15px;
}

// app-welcome{
//     height: 12%;
// }

.cart-container {
    // height: 80%;
    flex-grow: 1;
}

table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}


img {
    height: 5.5vh;
    width: 5vh;
}

.containerCart {
    margin: 30px;
}

.delete-icon {
    cursor: pointer;
    color: rgb(164, 164, 164);
}

.delete-icon:hover {
    color: rgb(71, 71, 71);

}

// .logoff{
//     color: red;
//     position: absolute;
//     left: 20px;
//     top: 2px;
// }