<div class="cart">
    <app-welcome></app-welcome>
    <!-- <i (click)="disconnect()" class="material-icons logoff">power_settings_new</i> -->
    <div class="cart-container">
        <div *ngIf="cartItems?.length==0" class="container">
            <p>העגלה שלך ריקה</p>
            <p>יש ללחוץ על מוצר כדי להוסיף לעגלה</p>
            <i class="material-icons">add_shopping_cart</i>
            <br />
            <br />
            <a class="button" routerLink="/home">חזור</a>
        </div>

        <div *ngIf="cartItems?.length!=0" class="container">
            <p>העגלה שלך:</p>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>שם</th>
                        <th>מחיר</th>
                        <th>כמות</th>
                        <th>סה"כ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cartItems">
                        <td><img src="{{baseUrl}}/uploads/{{item.product.image}}" alt=""></td>
                        <td>
                            {{item.product.name}}
                        </td>
                        <td>{{item.product.price}}₪</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.totalPrice | number : '1.2-2' | decimal}}₪</td>
                        <td><i (click)="deleteCartItemAsync(item._id)" class="delete-icon material-icons">delete</i></td>

                    </tr>
                </tbody>
            </table>
            <p>מחיר עגלה: {{cartTotalPrice | number : '1.2-2' | decimal}}₪</p>
            <a class="button" routerLink="/order">הזמנה</a>
            <a class="link" (click)="deleteAllCartItemsAsync()">נקה עגלה<i
                    class="material-icons">remove_shopping_cart</i></a>
            <a class="link" routerLink="/home">חזור</a>

        </div>
    </div>


</div>