.shopping {
  flex-grow: 1;
  display: flex;
  // align-items: stretch;
}


.menu-icon {
  position: absolute;
  left: 10px;
}


// mat-sidenav {
//   width: 30%;
//   min-width: 380px;
// }

// mat-sidenav-content {
//   display: flex;
//   flex-grow: 1;
//   height: auto;
// }
